$dropdown-padding: .04rem .1rem .04rem .15rem;
$dropdown-bg: #fff;
$dropdown-color: #333;
$dropdown-border-color: #ccc;
$dropdown-border-radius: .04rem;
$dropdown-bg-hover: #e6e6e6;

$dropdown-menu-padding: .05rem 0;
$dropdown-menu-bg: #fff;
$dropdown-menu-border-color: #ccc;
$dropdown-menu-border-radius: .04rem;
$dropdown-menu-bg-hover: #e6e6e6;

$dropdown-inline-margin: 0 .2rem .2rem 0;

/* 下拉菜单 */
.as-dropdown {
    position: relative;

    &.inline {
        display: inline-block;
        margin: $dropdown-inline-margin;
    }

    button {
        outline: none;
        background-color: $dropdown-bg;
        color: $dropdown-color;
        padding: $dropdown-padding;
        border: 1px solid $dropdown-border-color;
        border-radius: $dropdown-border-radius;
        cursor: pointer;

        &:hover {
            background-color: $dropdown-bg-hover;
        }

        i {
            position: relative;
            top: -0.04rem;
            padding-left: .03rem;
        }
    }

    ul {
        display: none;
        min-width: 1.2rem;
        margin-top: .02rem;
        background-color: $dropdown-menu-bg;
        padding: $dropdown-menu-padding;
        border: 1px solid $dropdown-menu-border-color;
        border-radius: $dropdown-menu-border-radius;
        position: absolute;
        left: 0;
        top: auto;
        z-index: 9999;

        &.open {
            display: block;
        }

        li a {
            color: inherit;
            display: block;
            padding: .03rem .2rem;

            &:hover {
                background-color: $dropdown-menu-bg-hover;
            }
        }
    }
}