<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dist App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div id="root"></div>

    <script src="/js/common.js" defer></script>
    <script src="/js/app.js" defer></script>
    
  </body>
</html>
