<% include layouts/header %>

    <div id="root"><%- appString %></div>

    <script src="/js/echarts-all.js"></script>
    <script>
      window.__initialState = JSON.parse('<%- initialState %>');
    </script>

    <% if (NODE_ENV == 'development') { %>
      <script src="//127.0.0.1:3001/static/js/common.js" defer></script>
      <script src="//127.0.0.1:3001/static/js/app.js" defer></script>
    <% } else { %>
      <script src="/js/common.js" defer></script>
      <script src="/js/app.js" defer></script>
    <% } %>
    

<% include layouts/footer %>
