$header-height: .42rem;
$header-bg: #333c47;
$header-title-color: #cdcdcd;
$header-padding-lr: .36rem;

.admin-header {
    background-color: $header-bg;
    height: $header-height;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;

    .title {
        display: inline-block;
        font-size: .18rem;
        line-height: $header-height;
        padding: 0 $header-padding-lr;

        a {
            color: $header-title-color;
        }
    }

    .user-dropdown {
        float: right;
        margin-right: $header-padding-lr;
        color: #ccc;

        &:hover {
            background-color: #24272d;
        }
    }
}