$sidebar-min-width: .4rem;
$sidebar-width: 2.25rem;

$sidebar-menu-color: #91979e;
$sidebar-menu-color-active: #c25e5a;
$sidebar-menu-line-height: 40px;

$sidebar-nav-menu-bg: #2a3542;
$sidebar-nav-menu-bg-active: #24272d;

$sidebar-sub-menu-bg: #35404d;

$sidebar-title-color: #cdcdcd;

.admin-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    background-color: $sidebar-nav-menu-bg;
    z-index: 999;
    -webkit-transition: left .3s ease-out;
    -moz-transition: left .3s ease-out;
    -ms-transition: left .3s ease-out;
    -o-transition: left .3s ease-out;
    transition: left .3s ease-out;

    &.hide {
        // width: $sidebar-min-width;
        left: $sidebar-min-width - $sidebar-width;
        
        .nav-menu > li {
            height: $sidebar-min-width;

            i.last {
                display: none;
            }
        }
    }

    .title {
        font-size: .18rem;
        line-height: $sidebar-min-width;
        padding-left: $sidebar-min-width;
        overflow: hidden;

        a {
            color: $sidebar-title-color;
        }

        i {
            width: $sidebar-min-width;
            line-height: $sidebar-min-width;
            text-align: center;
            color: $sidebar-title-color;
            font-size: .2rem;
            cursor: pointer;
            float: right;

            &:hover {
                background-color: $sidebar-nav-menu-bg-active;
            }
        }
    }

    li a {
        display: block;
        color: $sidebar-menu-color;
        line-height: $sidebar-menu-line-height;
        padding-left: $sidebar-min-width;

        &:hover {
            text-decoration: none;
        }

        i {
            font-size: .16rem;
            width: $sidebar-min-width;
            line-height: inherit;
            text-align: center;

            &:first-child {
                position: fixed;
                left: 0;
                z-index: 1000;
            }

            &.last {
                float: right;
            }
        }
    }

    .nav-menu {
        > li {
            overflow: hidden;
            
            &:hover > a,
            &.active > a {
                background-color: $sidebar-nav-menu-bg-active;

                i:first-child {
                    color: $sidebar-menu-color-active;
                }
            }

            /* &.active .sub-menu {
                display: block;
            } */
        }

        ul {
            background-color: $sidebar-sub-menu-bg;
        }
    }

    .sub-menu {
        // display: none;
        height: 0;
        overflow: hidden;
        -webkit-transition: height .3s ease-out;
        -moz-transition: height .3s ease-out;
        -ms-transition: height .3s ease-out;
        -o-transition: height .3s ease-out;
        transition: height .3s ease-out;

        li:hover > a,
        li.active > a {
            color: $sidebar-menu-color-active;
        }
    }
}
