$sidebar-top: 42px;
$sidebar-width: 2.25rem;
$sidebar-nav-menu-bg: #2a3542;
$sidebar-nav-menu-bg-active: #24272d;
$sidebar-sub-menu-bg: #35404d;
$sidebar-menu-color: #91979e;
$sidebar-menu-color-active: #c25e5a;
$sidebar-nav-menu-line-height: 40px;

.admin-sidebar {
    position: fixed;
    top: $sidebar-top;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    background-color: $sidebar-nav-menu-bg;
    z-index: 999;

    li a {
        display: block;
        color: $sidebar-menu-color;
        line-height: $sidebar-nav-menu-line-height;
        padding-left: .1rem;

        &:hover {
            text-decoration: none;
        }

        i {
            padding-right: .1rem;
            font-size: .16rem;
            width: .2rem;

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }
    }

    .nav-menu {
        overflow: hidden;
        
        > li {
            &:hover > a,
            &.active > a {
                background-color: $sidebar-nav-menu-bg-active;
            }

            /* &.active .sub-menu {
                display: block;
            } */
        }

        ul {
            text-indent: .3rem;
            background-color: $sidebar-sub-menu-bg;
        }
    }

    .sub-menu {
        // display: none;
        height: 0;
        overflow: hidden;
        -webkit-transition: height .3s ease-out;
        -moz-transition: height .3s ease-out;
        -ms-transition: height .3s ease-out;
        -o-transition: height .3s ease-out;
        transition: height .3s ease-out;

        li:hover > a,
        li.active > a {
            color: $sidebar-menu-color-active;
        }
    }
}
