/* tags style */
html {
    font-size: 100px;
    height: 100%;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: .14em;
    color: #333;
    line-height: 1.5;
    height: 100%;
}

a {
    color: #1e6bb8;
    text-decoration: none;
}

h1 {
    font-size: .32rem;
}
h2 {
    font-size: .26rem;
}
h3 {
    font-size: .22rem;
}
h4 {
    font-size: .18rem;
}
h5 {
    font-size: .16rem;
}
h6 {
    font-size: .14rem;
}
