/* 清浮动 */
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after {
    clear: both;
}

/* table */
.table {
    text-align: left;

    thead > tr {
        font-weight: bold;
    }

    th, td {
        border: 1px solid #ddd;
        padding: .06rem .12rem;
    }
}

/* button */
.button {
    outline: none;
    background-color: #fff;
    color: #333;
    padding: .04rem .1rem;
    border: 1px solid #ccc;
    border-radius: .04rem;
    cursor: pointer;

    &:hover {
        background-color: #e6e6e6;
    }
}

/* grid */
$grid-number: 12;
$grid-cols: '.as-col-1';

@for $i from 1 through $grid-number {
    $value: ($i / $grid-number) * 100%;
    
    @if $i > 1 {
        $grid-cols: $grid-cols + ',.as-col-' + $i;
    }

    .as-col-#{$i} {
        width: $value;
    }
    .as-col-offset-#{$i} {
        margin-left: $value;
    }
}

#{$grid-cols} {
    float: left;
}