/* common */
$prefixers: -webkit-, -moz-, -ms-, -o-, null;

/* total */
$total-min-width: 8rem;

/* type */
$select-menu-color: #91979e;
$select-menu-line-height: .4rem;
$select-menu-bg: #333c47;
$select-menu-bg-active: #24272d;

/* header */
$header-height: .42rem;
$header-bg: #333c47;
$header-title-color: #cdcdcd;
$header-padding-lr: .36rem;

/* sidebar */
$sidebar-width: 2.25rem;
$sidebar-nav-menu-bg: #2a3542;
$sidebar-nav-menu-bg-active: #24272d;
$sidebar-sub-menu-bg: #35404d;
$sidebar-menu-color: #91979e;
$sidebar-menu-color-active: #c25e5a;
$sidebar-nav-menu-line-height: .4rem;
$sidebar-sub-menu-line-height: .3rem;

/* content */
$content-bg: #fff;
$content-min-height: 6rem;

/* content header */
$content-header-title-fontSize: .24rem;

/* footer */
$footer-bg: #f2f2f2;

